.cart-widget{
    background-color: rgb(248, 248, 248);
    float: right;
    span{
        text-decoration: none;
        color: #1a1a1a;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid rgb(240, 19, 19);
        border-radius: 70px;
    }
}